[iam-themes ~= thm-simple] {
	/* #region main */
	--main-h-font-color: black; /* IE can't use "initial" */
	/* #endregion main */

	/* #region greeter-h */
	--greeter-h-font-color: green;
	--greeter-h-font-size-1: xx-large; /* "initial" resets to default text size */
	/* #endregion greeter-h */
}