/* "iam-" prefixes should be used in attributes but not file/dirnames */

/* #region themes (must be imported first for using it in modules) */
@import url("~/themes/thm-simple.css");
/* #endregion themes */

/* #region css-only "components" (not templated) */
@import url("#common/h/h.css");
/* #endregion css-only "components" (not templated) */

/* #region components */
@import url("#common/greeter-h/greeter-h.css");
/* #endregion components */

/* #region "main > index" */
[iam-main-h] {
	color: orange; /* default as fallback */
	color: var(--iam-main-h-font-color, orange); /* external redefine ability */
}
/* #endregion "main > index" */

/*
	incorrect redefine !!! css-only h "component" in this specific main.css
	It should be defined in common/h/h.css and pasted here as @import region css-only "component"
	therefore will be redefined by region themes first
	and then redefined [iam-main-h] without css-specificy increasing!
*/
/*
[iam-h] {
	color: indigo;
}
*/
